.my-bookings {
  padding: 20px;
  margin-bottom: 80px;
}

.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-mybooking {
  height: auto;
}

#upcoming {
  z-index: 1;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

#past {
  width: auto;
  height: auto;
  overflow-y: hidden;
  overflow-x: scroll;
}







