.my-bookings {
  padding: 20px;
}

.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.card-mybooking {
  height: auto;
}

.card-mybooking-infos {
  display: flex;
  flex-direction: column;
}

