#img_prev {
  background-position: cover;
  font: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#photo2 {
  background-position: cover;
  font: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.container_edit {
 background-color: $light-gray;
 // margin-top: 20px;
 margin-bottom: 20px;
 padding-bottom: 20px;
 justify-content: center;
 font-size: 14px;
}
.user-edit-title {
  text-align: center;
  // padding-top: 16px;
}

.upper-part {
  display: flex;
  justify-content: space-between;
}

.left-content {
  width: 70%;
  justify-content: center;
}

.form-actions {
  display: flex;
  justify-content: space-around;
}

.right-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 3px;
}

.image_wrapper {
  position: relative;
  text-align: center;
}

.lower-part {
  width: 100%;

}

#user_avatar {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;

}

#unhappy {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.btn-success {
  background-color: $woddi;
  color: white;
  border-color: $woddi;
  width: 100%;

}
.btn-success:hover {
  color: #fff;
  background-color: $woddi;
  border-color: $woddi;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
  background-color: $woddi;
  border-color: $woddi;
  box-shadow: 0 0 0 0.2rem rgba(30, 193, 122, 0.5);
}


.btn-danger {
  background-color: $red;

}



