.enter-woddi-email-info {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.enter-woddi-email-info {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

.member a {
  font-size: 14px;
}
