.center-form {
  justify-content: center;
}


.log_in_actions {
  margin-top: 20px;
  display: flex;
  align-content: space-between;
}

.login-title {
  text-align: center;
  margin-top: 20px
}

.test {
  display: flex;
  justify-content: center;
}

.form-inputs {
  margin-top: 30px;

}

#subm {
  background-color: $green;
  border-color: $green;
  margin-right: 100px;

}

.form-actions {
  display: flex;
  flex-wrap: wrap;
}

.renderdevise {
color: $gray;
font-size: 14px;
margin-top: 20px;

padding-left: 160px;


}
