.center-form {
  justify-content: center;
}


.log_in_actions {
  margin-top: 20px;
  display: flex;
  align-content: space-between;
}

h2 {
  text-align: center;
  margin-top: 20px
}

.test {
  display: flex;
  justify-content: center;
}

.form-inputs {
  margin-top: 30px;
}
