.new-review-container {
  display: flex;
  height: calc(100vh - 66px);
  img {
    // padding-top: 60px;
    height: auto;
    position: sticky;
    top: 0;
  }
}

.review-info {
  padding: 10px 30px 10px 50px;
  justify-content: space-evenly;
  h2 {
    margin-bottom: 30px;
  }
}

.review_description textarea {
  width: 100%;
}
