<%= link_to box_path(box) do %>
<div class="card-map">

  <div class="card-map-infos">
    <h2><%= box.name[0..20] %></h2>
    <div class="card-map-rating">
      <%= box.avg_review %> <i class="fas fa-star "></i>
    </div>
  </div>
</div>
<% end %>