

<!-- Page Content -->
  <div class="container boxes-container">
    <div class="row">
      <% @boxes.each do |box| %>
        <%= render "card_box", box: box %>
      <% end %>
    </div>
  </div>
