<div class="box-page-container">
  <div class="box-header">
    <h1><%= @box.name %></h1>
    <%= link_to "BOOK", box_le_path(@box_lesson), class: "btn-book" %>
  </div>
    <div class="box-photos"><%= image_tag @box.photos %></div>
      <div class="reviews-info">
        <p><strong>Reviews</strong></p>

      </div>
</div>
