<div class="box-page-container">
  <div class="box-header">
    <%= @box.name %>
    <button type="button" class="btn btn-primary">Book</button>
  </div>
    <div class="box-photos"><%= image_tag @box.photos %></div>
      <div class="reviews-info">
        <p><strong>Reviews</strong></p>

      </div>
</div>
