<div class="navbar navbar-expand navbar-light navbar-lewagon">
<%= simple_form_for :search, url: map_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" value="<%=params[:city] %>"name="city" id="search_query" placeholder="Search by City" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> 
    </button>
  </div>
<% end %>

</div>

