<div class="modal fade" id="userModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<p style="font-size: 15px">Close</p>
        </button>
      </div>
      <div class="modal-body">
        ...jninijn
      </div> lk k

        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cl</button>
        <button type="button" class="btn btn-primary">Sav</button>
      </div>
    </div>
  </div>
</div>
