<ul class="list-inline mt-5">
  <li class="list-inline-item" ><%= link_to "", root_path, class: "fab fa-facebook social-icon" %></li>
  <li class="list-inline-item" ><%= link_to "", root_path, class: "fab fa-twitter social-icon" %></li>
  <li class="list-inline-item" ><%= link_to "", root_path, class: "fab fa-instagram social-icon" %></li>
</ul>
