<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(240,240,240,0.4)), url(https://res.cloudinary.com/woddi/image/upload/v1583580155/WODDI/homebanner_jad1fe.jpg);">
  <div class="center-container text-center">
    <h1>WODDI</h1>
    <div class="info">
      <p>Join us and book your drop-in.</p>
      <p>Anytime.</p>
      <p>Anywhere.</p>
      <%= link_to "GO", boxes_path, class: "btn-woddi" %>
      <div class="social">
        <p style="font-size: 16px">About us</p>
       <%= render 'shared/socialicons' %>
      </div>
    </div>
  </div>
</div>

