<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(240,240,240,0.4)), url(<%= image_url 'homebanner.jpg' %>);">
  <div class="center-container text-center">
    <h1>WODDI</h1>
    <p>Join us and book your drop-in.</p>
    <p>Anytime.</p>
    <p>Anywhere.</p>
    <%= link_to "GO", boxes_path, class: "btn-woddi" %>
    <%= render 'shared/socialicons' %>
  </div>
</div>
