<div class="modal fade" id="confirmation-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Booking</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="modal-box-name">

        </div>
        <div id="modal-start-date-time">

        </div>
        <div id="modal-price">

        </div>
        <%= simple_form_for(Order.new, url: orders_path, method: :post) do |f| %>
          <%= f.input :box_lesson, as: :hidden %>
          <div class="btn-woddi-sm-review-location">
            <%= f.submit "Book", class: "btn btn-woddi-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<button style="display: none" type="button" class="btn btn-primary" id="create-booking-modal-hidden-button" data-toggle="modal" data-target="#confirmation-modal">
  Launch demo modal
</button>
