<div class="container boxes-container text-center">
  <h1><%= @box.name %></h1>
    <div class="row">
      <% @box_lessons.each do |box_lesson| %>
        <%= render "card_box_lesson", box_lesson: box_lesson %>
      <% end %>
    </div>
</div>
