.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
  height: 100vh;
}

.banner h1 {
  margin-bottom: 20%;
  padding: 16px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 300%;
  font-weight: 900;

}

.banner p {
  font-size: 22px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  padding: 16px;
  line-height: 20%;
  margin: 0;
}

.banner .btn-woddi {
  width: 200px;
  padding: 9px 12px;
}
