#confirmation-modal .modal-dialog {
  top: 27vh;
}

#booking_modal .modal-dialog {
  top: 27vh;
}

#modal-price {
  font-size: 1.3rem;
  font-weight: bold;
}

.align-modal {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.modal-header {
  // border-bottom: none;
  font-size: 1.6rem;
}

#modal-box-name {
  font-size: 1.1rem;
}

#modal-start-date-time {
  font-size: 1.1rem;
}
