.card-product {
  overflow: hidden;
  height: 61px;
  background: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
}

.card-product img {
  width: 80px;
  object-fit: cover;
  height: 100%;
}

.card-product h2 {
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  line-height: 1.5;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  color: black;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-product .card-product-infos .fa-star {
  color: rgb(228, 187, 37);
}
